---
 
export const prerender = true;
import { sanityClient } from 'sanity:client';
import { UrlFor } from '../../components/imageUrl.jsx';

export async function getStaticPaths() {
  const posts = await sanityClient.fetch(`*[_type == "post" && defined(slug.current)]`);
  return posts.map((post) => {
      return {
        params: {
          slug: post.slug.current,
        },
    };
  });
}
 
const { slug } = Astro.params;
const { title, author, pubdate, main_image, details } = await sanityClient.fetch(`*[_type == "post" && slug.current == $slug][0]`, { slug });

---
 
<html>
<body>
  <a href="/">Back</a>
  <h1>{title}</h1>
  <p>{author}</p>
  <p>{pubdate.slice(0, 10)}</p>
  <p>{JSON.stringify(details)}</p>
  <img src={UrlFor(main_image).width(200).url()} />
</body>
</html>